<template>
    <!-- begin hero -->
	<section class="
        hero 
        is-primary 
        is-bold
        is-fullheight
        ">
        <div class="hero-head">
            <div class="container">
                
                <!-- begin navbar -->
                <div class="navbar-menu">

                    <div class="navbar-start">
                        <div class="navbar-brand">
                            <a class="navbar-item" href="#">
                                Logo Here
                            </a>
                        </div>

                        <a class="
                            navbar-item 
                            ">
                            Home
                        </a>
                        <a class="navbar-item">
                            Subjects
                        </a>
                        <a class="navbar-item">
                            Pricing
                        </a>
                        <a class="navbar-item">
                            FAQ
                        </a>
                        <a class="navbar-item">
                            Appointments
                        </a>
                    </div>

                    <div class="navbar-end">

                        <span class="navbar-item">
                            Share on social media
                        </span>

                        <span class="navbar-item">
                            <a class="button">
                                <img src="../static/svg/thumb-up.svg">
                                </img>
                                <span>
                                    Like
                                </span>
                            </a>
                        </span>

                        <span class="navbar-item">
                            <a class="button">
                                <img src="../static/svg/facebook-box.svg">
                                </img>
                                <span>
                                    Share
                                </span>
                            </a>
                        </span>

                    </div>

                </div>

                <a class="navbar-burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
            <!-- end navbar -->
        </div>

		<div class="hero-body">
			<div class="container">
				<h1 class="title">
                    Fabri Tutoring Co.
				</h1>
                <h2 class="subtitle">
					Tutoring excellence in Hampton Roads
                </h2>
				<button class="
                    button 
                    is-light
                    is-rounded 
                    is-text
                    is-outlined 
                    animated
                    bounceInLeft
                    ">
					Learn more
				</button>
                <button class="
                    button 
                    is-primary 
                    is-rounded 
                    is-inverted
                    animated 
                    bounceInLeft
                    delay-1s
                    ">
					Book an appointment
				</button>
			</div>
		</div>
	</section>
    <!-- end hero -->

    <!-- begin footer -->
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
            &copy 2019 <strong>Fabri Tutoring Co.</strong> All rights reserved.
            </p>
            <p>
            See a problem? 
            <a href="mailto:webmaster@fabritutoring.com">
                Let us know about it.
            </a>
            </p>
        </div>
    </footer>
    <!-- end footer -->

</template>
